.bean-logic .bean-logic-container {
    margin: 1em 0;
}

.bean-logic .bean-logic-container input {
    margin: 0 0 0 1em;
}

.bean-logic .bean-logic-container--add {
    margin-top: 2em;
}

.bean-logic-and {
    margin-bottom: 14px;
}

.bean-logic-and,
.bean-logic-or {
    text-transform: uppercase;
}
